@import url('https://fonts.googleapis.com/css?family=Bungee Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee');


.logotext {
    font-size: 75px;
    height: 200px;
    font-family: "Bungee Shade"
}

.title {
  font-family: "Bungee";
  font-size: 50px;
  color: #4ECDC4;
  height: 0px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.dropdown {
  background:  #F9FEEF;
  color: #000000;
  padding: 5px 5px 5px 25px;
   /*align-text: center; */

  height: 40px;
  width: 140px;
  font-size: 20px;
  border-radius: 15px;
}

dropdown:hover .dropdown-content {
  display: block;
  
}

.nearbutton {
  font-size: 15px;
  color: #F9FEEF; 
  background-color: black;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}

.usernameLabel {
  font-size: 30px;  
  color: #F9FEEF; 
  background-color: black;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}


.passwordLabel {
  font-size: 30px;
  color: #F9FEEF;
  background-color: black;
  outline-style: solid;
  outline-width: 5px;
  outline-color: black;
}

.textbox {
    height: 40px;
    background: #F9FEEF;
    font-size: 25px;
    padding: 2px 7px 0px 7px;
    border-radius: 15px;
    
}         

.submissionField {
  width: 80px; 
  height: 40px; 
  font-size: 20px;
  color: #F9FEEF;
  background: #000000;
  border-radius: 10px;
  /*padding: 2px 7px 0px 7px #F9FEEF;*/

}


.topPage {
  background-color: #FFFFFF;
  width: 100%;
  height: 400px;
  align-items: center;
  text-align: center;
  
}

.midPage {
  background-color: #FF6B6B;
  padding: 30px 0px 20px 0px;
  align-items: center;
  text-align: center;
  
}

.bottomPage {
  background-color: #FFE66D;
  align-items: center;
  text-align: center;
  /*padding: 150px 100px 150px 100px;*/
  padding-bottom: 300px;
  margin-bottom: -300px;
  position: relative;
  bottom: 0;
}

.message {
  font-family: "Bungee"; 
  font-size: 35px;
  /*color: #4F3D13;*/
  color: black;
}


